.gridContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  justify-content: center;
  grid-gap: 50px;
}

.ant-card-meta-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
